* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  background-image: url('./cool-background.png');
  background-size: cover;
  background-repeat: no-repeat;
}

